# Python cache
__pycache__/
*.py[cod]
*.pyo

# Jupyter/IPython
.ipynb_checkpoints

# Environment files
.env
*.env


# OS files
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Python virtual environments
venv/
env/
.smartapp/

# Streamlit-specific
.streamlit/secrets.toml

# Misc
*.log
*.bak
